.post {
    margin: 50px auto;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.post span  {
    margin-bottom: 10px;
}

.post button {
    background: #ec1d1d;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    border: 0;
    margin-bottom: 5px;
}
.post button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.edit-post {
    text-decoration: none;
    color: #fff;
    background: #28b516;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}