.edit-form {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 850px;
    margin: 80px auto;
}

.edit-form input, .edit-form textarea {
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.edit-form button {
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: #316ad3;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.edit-form button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}
